* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


/*NAWIGACJA*/

nav {
    display: inline-block;
    /*    background-color: black;*/
    width: 100%;
    text-align: right;
}

nav a {

    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    font-size: 16px;
    margin: 25px 4%;
    color: black;
    letter-spacing: 2px;

}

.btn1:hover,
.btn2:hover,
.btn3:hover {
    padding: 5px 0;
    border-bottom: 2px solid black;
}




.btn4 {
    margin-right: 10%;
    margin-left: 5%;
    border: 2px solid black;
    padding: 10px;
    transition: 0.3s;
}

.btn4:hover {
    background-color: black;
    color: white;
}



/*HEADER*/

header {
    height: 50vh;
    background-color: black;
    background-image: url(photoofcarfordfocus.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 75%;
    transition: 0.9s;




}

header h1 {

    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    line-height: 50vh;
    color: rgba(255, 255, 255, 0);
    font-size: 100px;
    transition: .9s;


}

header h1:hover {

    background-color: rgba(0, 0, 0, 0.75);
    color: white;

}

/*KONIEC HEADER*/




/*     MAIN    */

main {
    height: 60vh;
    width: auto;

}

div.menu {

    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    border-bottom: 2px solid black;

    margin: 15px;

    padding: 10px;

}

.wheels {
    display: inline-block;

    text-align: center;

    margin-left: 20%;
    background-color: #f7f1f1;
    height: 50vh;
    width: 20vw;
    background-image: url(wheel-rim-254714_1920.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 40% 50%;
    border: 2 solid black;
    border-radius: 100px;


}

.parts {
    display: inline-block;
    background-image: url(cz%C4%99sci.png);
    height: 50vh;
    width: 18vw;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 20%;

    background-position: 50% 50%
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.panel {
    width: 350px;
    height: 400px;
    margin: 10px 10px;
}

.zdjecie {
    width: 300px;
    height: 350px;
}

.zdjecie img {
    width: 340px;
    height: auto;
    margin: 5px 5px;


}

.btn5 {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 26px;
    font-family: arial;
    color: black;
    border: 2px solid black;
    border-radius: 100px;
    padding: 10px 20px;
    margin: 2% 10%;
    transition: 0.3s
}

.btn5:hover {
    background-color: black;
    color: white;
    font-size: 29px;
}


.foter {
    height: 30vh;
    background-color: black;
    margin-top: 15%;
}

.foter h1 {
    color: white;
    margin: 20px 20px;
    padding: 18px;
}

.stopka ul li a {
    margin: 0;
    padding: 5px;
    color: white;
    display: block;

    text-align: left;

    margin-left: 1%;
    margin-bottom: 0;





}

.stopka ul li a:hover {
    text-decoration: underline;
}
